<StackLayout class="container bckgorange center">
    <StackLayout height="50"></StackLayout>

    <StackLayout class="container-item">
        <Image src="res://icono_logo_login"></Image>
    </StackLayout>

    <StackLayout class="container-item">
        <Label class="txtlarge txtwhite" text="Política de manejo de datos"></Label>
    </StackLayout>

    <StackLayout class="container-item">
        <Label class="txtlarge txtwhite" text="Reglamento del sorteo"></Label>
    </StackLayout>

    <StackLayout class="container-item">
        <Label class="txtlarge txtwhite" text="Política de manejo de datos"></Label>
    </StackLayout>

    <StackLayout class="container-item">
        <Label class="txtlarge txtwhite" text="Aceptación de talonarios"></Label>
    </StackLayout>

    <StackLayout class="container-item">
        <Button class="btnblack" (tap)="Aceptar()" text="aceptar"></Button>
    </StackLayout>

</StackLayout>