<!--
The MyDrawer custom component view is where you define what will be displayed in the app drawer.
Feel free to customize layouts and components to change how your app drawer looks.
-->
<GridLayout rows="auto, auto, *" class="sidedrawer sidedrawer-left">
    <StackLayout row="0" class="page page-content" orientation="vertical" height="13%" backgroundColor="lightgray">
        <Image [src]="imagenPublicitaria" stretch ="fill"></Image>
    </StackLayout>
    <StackLayout row="1" class="component-menu-header">        
        <Label text="MENÚ"></Label>
    </StackLayout> 
    <ScrollView row="2"> 
        <StackLayout class="sidedrawer-content" *ngIf="menuAUX">            
            <MyDrawerItem title="VENTA DE BOLETOS" route="/talonarios" icon="talonario" [isSelected]="isPageSelected('Talonarios')">
            </MyDrawerItem>
            <MyDrawerItem title="ESTADO DE CUENTA" route="/estadocuenta" icon="perfil" [isSelected]="isPageSelected('Estado_Cuenta')">
            </MyDrawerItem>
            <MyDrawerItem title="CONOCE TU SORTEO" route="/conocesorteo" icon="conoce_sorteo" [isSelected]="isPageSelected('Conoce_sorteo')">
            </MyDrawerItem>
            <MyDrawerItem title="SOLICITA UN TALONARIO" route="/solicitatalonario" icon="nuevotalonario" [isSelected]="isPageSelected('solicitatalonario')">
            </MyDrawerItem>
            <MyDrawerItem title="LISTADO DE GANADORES" route="/ganadores" icon="ganadores" [isSelected]="isPageSelected('Ganadores')">
            </MyDrawerItem>
            <!-- <MyDrawerItem title="NOTIFICACIONES" route="/redessociales" icon="notificaciones" [isSelected]="isPageSelected('notificaciones')">
            </MyDrawerItem> -->
            <MyDrawerItem title="REDES SOCIALES" route="/redessociales" icon="compartir" [isSelected]="isPageSelected('redessociales')">
            </MyDrawerItem>
            <MyDrawerItem title="CERRAR SESION" route="/login" icon="logout">
            </MyDrawerItem>            
        </StackLayout>
        <StackLayout class="sidedrawer-content" *ngIf="!menuAUX">                            
            <MyDrawerItem title="INICIO" route="/login" icon="perfil">
            </MyDrawerItem>            
        </StackLayout>
    </ScrollView>
</GridLayout>