<ActionBar class="header">
    <Image class="logo-header" src="res://icono_logo_encabezado"></Image>
</ActionBar>

<side-drawer-page>
    <ScrollView orientation="vertical" sdkExampleTitle sdkToggleNavButton>
        <StackLayout>
            <FlexboxLayout class="tituloComponent" justifyContent="center" flexDirection="row">
                <Image order="1" width="30" src="res://icono_nuevotalonario"></Image>
                <Label order="2" text="SOLICITA UN TALONARIO"></Label>
            </FlexboxLayout> 
            <StackLayout  style="padding-top: 100%;padding-bottom: 10%" visibility="collapsed">  
                <Label
                    class="page-text-1"
                    [text]="text1"
                    textWrap="true"
                    style="color:black;font-size:30px;text-align: center;padding-bottom: 10%">
                </Label>
                <Label
                    class="page-text-2"
                    [text]="text2"
                    textWrap="true"
                    style="color:gray;font-size:15px;text-align: center;padding-left: 10%;padding-right: 10%;padding-bottom: 30%">
                </Label>        
                <Label
                    class="page-text-3"
                    [text]="text3"
                    textWrap="true"
                    style="color:orange;font-size:25px;text-align: center;padding-bottom: 30%">
                </Label>        
                <Button
                    class="btn-solicitar"
                    [text]="text4"
                    (tap)="solicitaTalonario()"
                    textwrap="true"
                    style="background-color: orange;color:white;"
                    width= "85%">
                </Button>
            </StackLayout>
            <StackLayout  style="padding-top: 100%;padding-bottom: 10%" visibility="visible">  
                    <Label
                        class="page-text-1"
                        [text]="text1"
                        textWrap="true"
                        style="color:black;font-size:30px;text-align: center;padding-bottom: 10%">
                    </Label>
                    <Label
                        class="page-text-2"
                        [text]="text2"
                        textWrap="true"
                        style="color:gray;font-size:15px;text-align: center;padding-left: 10%;padding-right: 10%;padding-bottom: 30%">
                    </Label>                    
            </StackLayout>
        </StackLayout>
    </ScrollView>
</side-drawer-page>