<ActionBar class="action-bar">
    <NavigationButton ios:visibility="collapsed" icon="res://menu" (tap)="onDrawerButtonTap()"></NavigationButton>
    <ActionItem icon="res://navigation/menu" android:visibility="collapsed" (tap)="onDrawerButtonTap()" ios.position="left"></ActionItem>
    <Image class="logo-header" src="res://icono_logo_encabezado"></Image>
</ActionBar>

<RadSideDrawer #drawer showOverNavigation="true" [drawerTransition]="sideDrawerTransition">
    <StackLayout tkDrawerContent>
            <MyDrawer [selectedPage]="'solicitatalonario'"></MyDrawer>
    </StackLayout>     
    <!-- <ScrollView orientation="vertical" sdkExampleTitle sdkToggleNavButton> -->
        <StackLayout tkMainContent>
            <StackLayout orientation="horizontal" class="component-header center">
                <Label class="fa" text="&#xf055;"></Label>
                <Label text="SOLICITA UN TALONARIO"></Label>
            </StackLayout>
            <StackLayout class="container center" visibility="visible">  
                <Label 
                    class="txtblack txtlarge"
                    [text]="text1"
                    textWrap="true">
                </Label> 
                <Label
                    class="txtgray txtsmall"
                    [text]="text2"
                    textWrap="true">
                </Label>        
                <Label
                    class="txtorange txtmedium container"
                    [text]="text3"
                    textWrap="true">
                </Label>        
                <Button
                    class="btn-orange"
                    [text]="text4"
                    (tap)="solicitaTalonario()"
                    textwrap="true"
                    width= "85%">
                </Button>
            </StackLayout>
            <StackLayout class="container center" visibility="collapsed">  
                    <Label
                        class="txtblack txtlarge container"
                        [text]="text1"
                        textWrap="true">
                    </Label>
                    <Label
                        class="txtgray txtmedium"
                        [text]="text2"
                        textWrap="true">
                    </Label>                                       
            </StackLayout>
        </StackLayout>
    <!-- </ScrollView>     -->
</RadSideDrawer>