<ActionBar class="action-bar">
    <NavigationButton ios:visibility="collapsed" icon="res://menu" (tap)="onDrawerButtonTap()"></NavigationButton>
    <ActionItem icon="res://navigation/menu" android:visibility="collapsed" (tap)="onDrawerButtonTap()" ios.position="left"></ActionItem>
    <!-- <Label class="action-bar-title" text="Sorteos Anahuac"></Label> -->
    <StackLayout orientation="horizontal"
                ios:horizontalAlignment="center"
                android:horizontalAlignment="center">
        <Image src="res://icono_logo_encabezado" class="img"></Image>   
    </StackLayout>
</ActionBar>

<RadSideDrawer #drawer showOverNavigation="true" [drawerTransition]="sideDrawerTransition" drawerContentSize="360">
    <StackLayout tkDrawerContent>
            <MyDrawer [selectedPage]="'solicitatalonario'"></MyDrawer>
    </StackLayout>     
    <!-- <ScrollView orientation="vertical" sdkExampleTitle sdkToggleNavButton> -->
        <StackLayout tkMainContent>
            <StackLayout class="page page-content" orientation="vertical" height="13%" backgroundColor="lightgray">
                    <Image src="https://sorteoanahuac.mx/app/banner_1.jpg"></Image> 
            </StackLayout>
            <StackLayout orientation="horizontal" class="component-header center">
                <!-- <Label class="fa" text="&#xf055;"></Label> -->
                <Image src="res://icono_nuevotalonario" class="img" style="height: 7%;width: auto"></Image>
                <Label text="SOLICITA UN TALONARIO" style="vertical-align: center"></Label>
            </StackLayout>
            <StackLayout class="container center" *ngIf="validaPagina">  
                <Label 
                    class="txtblack txtlarge"
                    [text]="text1"
                    textWrap="true">
                </Label>                 
                <Label
                    class="txtgray txtsmall"
                    [text]="text2"
                    textWrap="true">
                </Label>
                <StackLayout class="separador"></StackLayout>        
                <Button
                    class="btn-orange"
                    [text]="text4"
                    (tap)="solicitaTalonario()"
                    textwrap="true"
                    width= "85%">
                </Button>                
                <Label
                    class="txtorange txtmedium container"
                    [text]="text3"
                    textWrap="true">
                </Label>                        
            </StackLayout>
            <StackLayout class="container center" *ngIf="!validaPagina">  
                    <Label
                        class="txtblack txtlarge container"
                        [text]="text1"
                        textWrap="true">
                    </Label>
                    <StackLayout class="separador"></StackLayout>
                    <Label
                        class="txtgray txtmedium"
                        [text]="text2"
                        textWrap="true">
                    </Label>                                       
            </StackLayout>
        </StackLayout>
    <!-- </ScrollView>     -->
</RadSideDrawer>