<ActionBar class="action-bar">
    <NavigationButton ios:visibility="collapsed" icon="res://menu" (tap)="onDrawerButtonTap()"></NavigationButton>
    <ActionItem icon="res://navigation/menu" android:visibility="collapsed" (tap)="onDrawerButtonTap()" ios.position="left"></ActionItem>
    <!-- <Label class="action-bar-title" text="Sorteos Anahuac"></Label> -->
    <StackLayout orientation="horizontal"
               ios:horizontalAlignment="center"
               android:horizontalAlignment="center">
        <Image src="res://icono_logo_encabezado" class="img"></Image>   
    </StackLayout>
</ActionBar>
<RadSideDrawer #drawer showOverNavigation="true" [drawerTransition]="sideDrawerTransition" drawerContentSize="360">
    <StackLayout tkDrawerContent>
        <MyDrawer [selectedPage]="'Talonarios'"></MyDrawer>
    </StackLayout>
    <StackLayout orientation="vertical" tkMainContent>
        <StackLayout class="page page-content" orientation="vertical" height="13%" backgroundColor="lightgray">
            <Image src="https://sorteoanahuac.mx/app/banner_1.jpg"></Image>
        </StackLayout>
        <StackLayout width="100%" height="100%" *ngIf="tieneTalonarios">
            <ScrollView height="90%" orientation="vertical" sdkExampleTitle sdkToggleNavButton>
                <StackLayout>
                    <StackLayout *ngFor="let talonario of listaTalonarios; let i = index;" [ngInit]="setInitialValue(i, listaTalonarios)">
                        <StackLayout>
                            <StackLayout (tap)="toggle(i)" orientation="horizontal" class="component-header-2">
                                <Image class="fa icon" width="6%" [src]="srcIconoTalonario[i]"></Image> 
                                <Label class="txt-header" text="TALONARIO"></Label>
                                <Label class="txtorange txt-header" style="text-align: left;" [text]="talonario.clave" width="37%"></Label>
                                <Image style="margin-left:12%;" width="6%" [src]="srcFlecha[i]"></Image>
                            </StackLayout>
                        </StackLayout>
                        <StackLayout backgroundColor="#f7f7f7" height="1em"></StackLayout>
                        <StackLayout visibility="{{ showDetails[i] ? 'visible' : 'collapsed' }}" class="contenido" orientation="vertical">
                            <!-- BOLETOS PENDIENTES-->
                            <StackLayout visibility="{{ validaStackBolPen[i] ? 'visible' : 'collapsed' }}">
                                <StackLayout orientation="horizontal" class="component-header-3">
                                    <Label class="txt-header-title" text="BOLETOS POR VENDER:"></Label>
                                    <Label class="txtorange txt-header-title" [text]="cantBolPendientes[i]"></Label>
                                </StackLayout>
                                <StackLayout *ngFor="let boletoPendiente of talonario.Boletos.pendientes; let i_pendiente = index">
                                    <GridLayout class="component-header-4" columns="auto, auto, *" rows="auto, auto, auto" height="65">
                                        <StackLayout class="vb-item" col="0" [row]="i_pendiente">
                                            <CheckBox #makeup (checkedChange)="toggleCheck(makeup, boletoPendiente, index)" checked="false"></CheckBox>
                                        </StackLayout>
                                        <Label col="1" [row]="i_pendiente" [text]="boletoPendiente.folio" class="text1" style="vertical-align: center"></Label>  
                                        <Label col="2" [row]="i_pendiente" class="text2" style="text-align:right;vertical-align: center" row="0" text="Vender   " (tap)="VentaBoleto(boletoPendiente, talonario)" *ngIf="!hideBottonSales"></Label>
                                        <Label col="3" [row]="i_pendiente" class="text2" style="text-align:right;vertical-align: center" row="0" text="   &#x276F;" *ngIf="!hideBottonSales"></Label>
                                    </GridLayout>
                                    <StackLayout class="delimitador"></StackLayout>
                                </StackLayout>
                            </StackLayout>
                            <!--FIN BOLETOS PENDIENTES-->
                            <!--BOLETOS ASIGNADOS-->
                            <StackLayout visibility="{{ validaStackBolAsig[i] ? 'visible' : 'collapsed' }}">
                                <StackLayout orientation="horizontal" class="component-header-3">
                                    <Label text="PAGADOS"></Label>
                                    <Label class="txtorange" [text]="cantBolAsignados[i]"></Label>
                                </StackLayout>
                                <StackLayout *ngFor="let boletoAsignado of talonario.asignados; let i_asignado = index">
                                    <GridLayout class="component-header-4" columns="auto, auto, *" rows="auto, auto, auto" height="65">
                                        <Label col="0" [row]="i_asignado" [text]="boletoAsignado.numero"></Label>
                                        <Label col="1" [row]="i_asignado" class="text3" text="- Eduardo Vazquez"></Label>  
                                        <Label col="2" [row]="i_asignado" class="text2" style="text-align:right;" row="0" (tap)="ConsultaPagado(boletoAsignado, talonario)" text="Consultar   "></Label>
                                        <Label col="3" [row]="i_asignado" class="text2" style="text-align:right;" row="0" text="   &#x276F;"></Label>
                                    </GridLayout>
                                    <StackLayout class="delimitador"></StackLayout>
                                </StackLayout>
                            </StackLayout>
                            <!--FIN BOLETOS ASIGNADOS-->
                            <!--BOLETOS VENDIDOS-->
                            <StackLayout visibility="{{ validaStackBolVen[i] ? 'visible' : 'collapsed' }}">
                                <StackLayout orientation="horizontal" class="component-header-3">
                                    <Label text="BOLETOS VENDIDOS POR PAGAR:"></Label>
                                    <Label class="txtorange" [text]="cantBolVendidos[i]"></Label>
                                </StackLayout>
                                <StackLayout *ngFor="let boletoVendido of talonario.Boletos.vendidos; let i_vendido = index">
                                    <GridLayout class="component-header-4" columns="auto, auto, *" rows="auto, auto, auto" height="65">                        
                                        <Label col="0" [row]="i" [text]="boletoVendido.folio" class="text1"></Label>
                                        <Label col="1" [row]="i" class="text3" text="- Eduardo Vazquez"></Label>
                                        <Label col="2" [row]="i" class="text2" style="text-align:right;" row="0" text="Pagar   " (tap)="ConsultaBoleto(boletoVendido, talonario)"></Label> 
                                        <Label col="3" [row]="i" class="text2" style="text-align:right;" row="0" text="   &#x276F;"></Label>      
                                    </GridLayout>
                                    <StackLayout class="delimitador"></StackLayout>
                                </StackLayout>
                            </StackLayout> 
                            <!--FIN BOLETOS VENDIDOS--> 
                            <!--BOLETOS ASIGNADOS-->
                            <StackLayout visibility="{{ validaStackBolAsig[i] ? 'visible' : 'collapsed' }}">
                                <StackLayout orientation="horizontal" class="component-header-3">
                                    <Label text="BOLETOS PAGADOS:"></Label>
                                    <Label class="txtorange" [text]="cantBolAsignados[i]"></Label>
                                </StackLayout>
                                <GridLayout class="component-header-4" columns="auto, auto, *" rows="auto, auto, auto" *ngFor="let boletoAsignado of talonario.Boletos.asignados; let i_asignado = index">
                                    <Label col="0" [row]="i_asignado" [text]="boletoAsignado.folio" class="text1"></Label>
                                    <Label col="1" [row]="i_asignado" class="text3" text="- Eduardo Vazquez"></Label>
                                    <Label col="2" [row]="i_asignado" class="text2" style="text-align:right;" row="0" (tap)="ConsultaPagado(boletoAsignado, talonario)" text="Consultar >"></Label>
                                </GridLayout>
                            </StackLayout>
                            <!--FIN BOLETOS ASIGNADOS-->
                        </StackLayout>
                    </StackLayout> 
                </StackLayout>
            </ScrollView>
            <StackLayout height="10%" *ngIf="hideBottonSales && hideBotton">
                <StackLayout class="btn-img-v2"  orientation="horizontal" (tap)="VenderBoletos()" width="100%">
                    <Image src="res://icono_boleto"  width="10%" height="100%" marginRight="10"></Image>
                    <Label class="txt-header" text="VENDER VARIOS BOLETOS >" verticalAlignment="center"></Label>
                </StackLayout>
            </StackLayout>
        </StackLayout>
        <StackLayout width="100%" height="100%" *ngIf="!tieneTalonarios">
            <StackLayout style="padding-top: 100%;padding-bottom: 10%">                      
                <Label
                    class="page-text-2"
                    [text]="noTieneTalonariosTexto"
                    textWrap="true"
                    style="color:gray;font-size:20%;text-align: center;padding-left: 70%;padding-right: 70%;padding-bottom: 30%">
                </Label>                    
            </StackLayout>
        </StackLayout>
    </StackLayout>
</RadSideDrawer>