        <ActionBar class="action-bar">
            <NavigationButton ios:visibility="collapsed" icon="res://menu" (tap)="onDrawerButtonTap()"></NavigationButton>
            <ActionItem icon="res://navigation/menu" android:visibility="collapsed" (tap)="onDrawerButtonTap()" ios.position="left"></ActionItem>
            <!-- <Label class="action-bar-title" text="Sorteos Anahuac"></Label> -->
            <StackLayout orientation="horizontal"
                        ios:horizontalAlignment="center"
                        android:horizontalAlignment="center">
                <Image src="res://icono_logo_encabezado" class="img"></Image>   
            </StackLayout>
        </ActionBar>

    <RadSideDrawer #drawer showOverNavigation="true" [drawerTransition]="sideDrawerTransition" drawerContentSize="360">
        <StackLayout tkDrawerContent>
                <MyDrawer [selectedPage]="'AsigacionExitosa'"></MyDrawer>
        </StackLayout>
    <StackLayout tkMainContent>
        <StackLayout class="page page-content" orientation="vertical" height="13%" backgroundColor="lightgray">
            <Image [src]="imagenPublicitaria" stretch ="fill"></Image>
        </StackLayout>
        <StackLayout orientation="horizontal" class="component-header-2">
            <Label class="fa icon" text="&#xf01c;"></Label>
            <Label text="TALONARIO"></Label>
            <Label class="txtorange" [text]="Datos.Boletos.Talonario"></Label>
        </StackLayout>

        <ScrollView>

            <StackLayout orientation="vertical">
                <StackLayout class="container center" orientation="vertical">
                    <Label class="container-item txtlarge txtorange" text="¡FELICIDADES!"></Label>

                    <StackLayout class="container-item" orientation="vertical">
                        <Label class="txtlarge txtblack" [text]="Datos.Boletos.Info.Nombre"></Label>
                        <Label class="txtlarge txtblack" [text]="Datos.Boletos.Info.Appat"></Label>
                    </StackLayout>

                    <Label text="Eres dueño del boleto:"></Label>
                    <Label class="txtlarge txtorange" [text]="Datos.Boletos.Boleto.Boleto.folio"></Label>

                    <Image class="imgmedium" src="res://qr"></Image>
                    <Label class="container-item" text="http://anahuac.edu?boleto=!osmdp2m1osamkasd_ampdqadw1amsp$asmp"></Label>

                    <StackLayout class="btn-orange container-item" orientation="horizontal">
                        <Image src="res://icono_dolar"></Image>
                        <Label text="PAGAR AHORA"></Label>
                    </StackLayout>

                    <StackLayout class="btn-orange container-item" orientation="horizontal">
                        <Image src="res://icono_boleto"></Image>
                        <Label text="ENVIAR POR CORREO"></Label>
                    </StackLayout>

                </StackLayout>

            </StackLayout>

        </ScrollView>

    </StackLayout>
    </RadSideDrawer>