// Import app variables
@import 'app-variables';

// Import the theme’s main ruleset - both index and platform specific.
@import '~nativescript-theme-core/scss/index';
@import '~nativescript-theme-core/scss/platforms/index.ios';

// Import common styles
@import 'app-common';

// Place any CSS rules you want to apply only on iOS here
ActionBar .fa {
    padding: 40px 40px 40px 0;
}

.txtorange{color: #dd741d}
.component-header{background-color:#222;color:#FFF;padding:20;width:100%;text-align:center}.component-header Label{margin-left:20}
.component-header-2{background-color:#222;color:#FFF;padding:20;width:100%;text-align:center}.component-header-2 .icon{margin-right:10}.component-header-2 .txtorange{color: #dd741d;margin-left: 5}
.component-header-3{background-color:#f7f7f7;color:#333;padding:20;width:100%;text-align:center}.component-header-3 Label{margin-left:5}
.btnGrey{
    background-color: rgb(31, 33, 48);
    margin-top: 20px;
    color: #FFF;
    height: 12%;
    font-size: 18px;
    width: 80%;
    padding: 15px;
}
.txtblack{color:#000}.txtlarge{font-weight:500;font-size:21px}
.txtmedium{font-weight:350;font-size:19px}.txtsmall{font-size:14px}
.center{text-align:center;horizontal-align:center}
.container{padding:40}.container-item{margin-bottom:20}
.imgsmall{width:50}.imgmedium{width:150}
.imglarge{width:250}
.btn-orange{width:100%;border-radius:10px;padding:5;background-color:#dd741d;color:#FFF;horizontal-align:center;vertical-align:center;line-height:10}
.btn-orange Image{width:15%}
