<ActionBar class="action-bar">
    <Label class="action-bar-title" text="Sorteos Anahuac"></Label>
</ActionBar>
    
<StackLayout class="page page-content" orientation="vertical">
        <StackLayout class="page page-content" orientation="vertical" height="15%" backgroundColor="lightgray">

        </StackLayout>
    <!-- <ScrollView orientation="vertical" sdkExampleTitle sdkToggleNavButton> -->
        <StackLayout class="talonario" orientation="horizontal">
            <Image width="50" src="res://icono_talonario"></Image>
            <Label class="talonario-header" text="TALONARIO"></Label>
            <Label class="talonario-header orange" text="{{Talonario}}"></Label>
        </StackLayout>
        <!-- <StackLayout>
            <StackLayout *ngFor="let boleto of boletoList; let i = index">
                <StackLayout (tap)="toggle(i)" backgroundColor="#e9e9e9" class="talonario" orientation="horizontal">
                    <Label class="talonario-header font-bold" text="BOLETO" color="#888888" width="20%"></Label>
                    <Label class="talonario-header font-bold orange" [text]="boleto.numero" width="68%"></Label>
                    <Label class="drop" text="x" width="12%" visibility="{{ selectBoleto[i] ? 'visible' : 'collapsed' }}"></Label>
                </StackLayout>
                <StackLayout class="arrow-down" visibility="{{ selectBoleto[i] ? 'visible' : 'collapsed' }}"></StackLayout>
                <StackLayout visibility="{{ selectBoleto[i] ? 'visible' : 'collapsed' }}">
                    <ScrollView orientation="vertical" sdkExampleTitle sdkToggleNavButton>
                        <StackLayout orientation="vertical">
                            <Label class="p informacion-boleto font font-bold" text="Dueño:"></Label>
                            <Label class="h2 informacion-boleto font font-bold orange" text="Rogelio"></Label>
                            <Label class="h2 informacion-boleto font font-bold orange" text="Andrés"></Label>
                            <StackLayout height="20"></StackLayout>
                            <Label class="p informacion-boleto font font-bold" text="Dirección:"></Label>
                            <Label class="h4 informacion-boleto font" text="revolucion 12"></Label>
                            <Label class="h4 informacion-boleto font" text="Los Cabos, Baja California"></Label>
                            <StackLayout height="20"></StackLayout>
                            <Label class="p informacion-boleto font font-bold" text="Contacto:"></Label>
                            <Label class="h4 informacion-boleto font" text="Teléfono fijo: 5500002222"></Label>
                            <Label class="h4 informacion-boleto font" text="Teléfono móvil: 5585691234"></Label>
                            <Label class="h4 informacion-boleto font" text="Correo electrónico:"></Label>
                            <Label class="h4 informacion-boleto font" text="rogelio.andres@anahuac.mx"></Label>
                            <Image src="res://qr" width="60%"></Image>
                            <Label class="url-text p font font-bold" textWrap="true" horizontalAlignment="stretch" text="http://anahuac.edu?Boleto=lokem/fff/gfsjdg46546jh(ahgsdfghsaf54)"></Label>
                            <Image class="image-mail" src="res://icono_mail" width="12%"></Image>
                        </StackLayout>
                    </ScrollView>
                </StackLayout>
            </StackLayout>
        </StackLayout> -->
    <!-- </ScrollView> -->
</StackLayout>