<ActionBar class="action-bar">
    <NavigationButton ios:visibility="collapsed" icon="res://menu" (tap)="onDrawerButtonTap()"></NavigationButton>
    <ActionItem icon="res://navigation/menu" android:visibility="collapsed" (tap)="onDrawerButtonTap()" ios.position="left"></ActionItem>
    <!-- <Label class="action-bar-title" text="Sorteos Anahuac"></Label> -->
    <StackLayout orientation="horizontal"
                ios:horizontalAlignment="center"
                android:horizontalAlignment="center">
        <Image src="res://icono_logo_encabezado" class="img"></Image>   
    </StackLayout>
</ActionBar>

    <RadSideDrawer #drawer showOverNavigation="true" [drawerTransition]="sideDrawerTransition" drawerContentSize="360">

    <StackLayout tkDrawerContent>
        <MyDrawer [selectedPage]="'BoletoVendido'"></MyDrawer>
    </StackLayout>

    <StackLayout class="page page-content" orientation="vertical" tkMainContent>
            <StackLayout class="page page-content" orientation="vertical" height="13%" backgroundColor="lightgray">
                    
            </StackLayout>
        <!-- <ScrollView orientation="vertical" sdkExampleTitle sdkToggleNavButton> -->
            <StackLayout class="talonario" orientation="horizontal">
                <Image width="50" src="res://icono_talonario"></Image>
                <Label class="talonario-header" text="TALONARIO"></Label>
                <Label class="talonario-header orange" text="{{Talonario}}"></Label>
            </StackLayout>
            <StackLayout>            
                <StackLayout (tap)="toggle()" backgroundColor="#e9e9e9" class="talonario" orientation="horizontal" height="12%">
                    <Label class="text-black" text="BOLETO" color="#888888" width="30%" style="font-weight: bold;padding-left: 1%;vertical-align:center;"></Label>
                    <Label class="text-orange" text="123456" width="58%" style="font-weight: bold;vertical-align:center;"></Label>
                    <Label class="drop" text="x" width="12%" visibility="{{ selectBoleto ? 'visible' : 'collapsed' }}" color="#1D1D1D"></Label>
                </StackLayout>
                <StackLayout class="arrow-down" visibility="{{ selectBoleto ? 'visible' : 'collapsed' }}"></StackLayout>
                <StackLayout visibility="{{ selectBoleto ? 'visible' : 'collapsed' }}">
                    <ScrollView orientation="vertical" sdkExampleTitle sdkToggleNavButton>
                        <StackLayout class="container" orientation="vertical">

                            <StackLayout orientation="vertical" class="container-item">
                                <Label class="txtblack" text="Dueño:" ></Label>
                                <Label class="txtorange txtlarge" text="Rogelio"></Label>
                                <Label class="txtorange txtlarge" text="Andrés"></Label>
                            </StackLayout>
                            
                            <StackLayout orientation="vertical" class="container-item">
                                <Label class="txtblack txtmedium" text="Dirección:"></Label>
                                <Label class="txtgray txtsmall" text="Revolucion 12"></Label>
                                <Label class="txtgray txtsmall" text="Los Cabos, Baja California"></Label>
                            </StackLayout>
                            
                            <StackLayout orientation="vertical" class="container-item">
                                <Label class="txtblack txtmedium" text="Contacto:"></Label>
                                <Label class="txtgray txtsmall" text="Teléfono fijo: 5500002222"></Label>
                                <Label class="txtgray txtsmall" text="Teléfono móvil: 5585691234"></Label>
                                <Label class="txtgray txtsmall" text="Correo electrónico:"></Label>
                                <Label class="txtgray txtsmall" text="rogelio.andres@anahuac.mx"></Label>
                            </StackLayout>

                            <Image src="res://qr" width="60%"></Image>
                            <Label class="txtsmall container-item" text="http://anahuac.edu?Boleto=lokem/fff/gfsjdg46546jh(ahgsdfghsaf54)"></Label>

                            <StackLayout class="container-item btn-orange" orientation="horizontal">
                                <Image src="res://icono_boleto"></Image>
                                <Label text="ENVIAR POR CORREO"></Label>
                            </StackLayout>


                        </StackLayout>
                    </ScrollView>
                </StackLayout>
            </StackLayout>
        <!-- </ScrollView> -->
    </StackLayout>
    </RadSideDrawer>