<ActionBar class="action-bar">
    <NavigationButton ios:visibility="collapsed" icon="res://menu" (tap)="onDrawerButtonTap()"></NavigationButton>
    <ActionItem icon="res://navigation/menu" android:visibility="collapsed" (tap)="onDrawerButtonTap()" ios.position="left"></ActionItem>
    <!-- <Label class="action-bar-title" text="Sorteos Anahuac"></Label> -->
    <StackLayout orientation="horizontal"
                ios:horizontalAlignment="center"
                android:horizontalAlignment="center">
        <Image src="res://icono_logo_encabezado" class="img"></Image>   
    </StackLayout>
</ActionBar>

    <RadSideDrawer #drawer showOverNavigation="true" [drawerTransition]="sideDrawerTransition" drawerContentSize="360">
        <StackLayout tkDrawerContent>
                <MyDrawer [selectedPage]="'micuenta'"></MyDrawer>
        </StackLayout>
        <StackLayout orientation="vertical" tkMainContent>
            <StackLayout class="page page-content" orientation="vertical" height="13%" backgroundColor="lightgray">
                <Image [src]="imagenPublicitaria" stretch ="fill"></Image>  
            </StackLayout>
            <StackLayout orientation="horizontal" class="component-header center" style="padding-left: 50%">
                <!-- <Label class="fa" text="&#xf007;"></Label> -->
                <Image src="res://icono_perfil" style="width: 5%; height: auto"></Image>
                <Label text="MI CUENTA"></Label>
            </StackLayout>

            <GridLayout height="100%" width="100%">
                <WebView class="cs-iframe" [src]="micuenta"></WebView>
                <!-- <WebView class="cs-iframe" src="https://www.npmjs.com/"></WebView> -->
            </GridLayout>

        </StackLayout>
    </RadSideDrawer>