
        <ActionBar class="action-bar">
            <NavigationButton ios:visibility="collapsed" icon="res://menu" (tap)="onDrawerButtonTap()"></NavigationButton>
            <ActionItem text="&#x276E; Talonarios" android:visibility="collapsed" (tap)="onDrawerButtonTap()" ios.position="left"></ActionItem>
            <!-- <Label class="action-bar-title" text="Sorteos Anahuac"></Label> -->
            <StackLayout orientation="horizontal"
                        ios:horizontalAlignment="center"
                        android:horizontalAlignment="center">
                <Image src="res://icono_logo_encabezado" class="img"></Image>   
            </StackLayout>
        </ActionBar>

<RadSideDrawer #drawer showOverNavigation="true" [drawerTransition]="sideDrawerTransition" drawerContentSize="360">
    <StackLayout tkDrawerContent>
            <MyDrawer visibility="collapsed" [selectedPage]="'Talonarios'"></MyDrawer>
    </StackLayout>
<!--<Page xmlns="http://www.nativescript.org/tns.xsd" xmlns:CheckBox="nativescript-checkbox" loaded="pageLoaded">-->
    <StackLayout orientation="vertical" tkMainContent>

        <StackLayout class="page page-content" orientation="vertical" height="13%" backgroundColor="lightgray">
            <Image [src]="imagenPublicitaria" stretch ="fill"></Image>
        </StackLayout>

        <!-- <StackLayout orientation="horizontal" class="component-header-2">
            <Image src="res://icono_talonario" style="width: 5%; height: auto"></Image>
            <Label class="letter-spacing" text=" TALONARIO"></Label>
            <Label class="txtorange letter-spacing" [text]="Datos.Talonario"></Label>
        </StackLayout> -->

        <StackLayout *ngIf="Datos.Tipo == 'Uno'" orientation="horizontal" class="component-header-3">
            <Label class="letter-spacing" text="VENDER BOLETO"></Label>
            <Label class="txtorange letter-spacing" [text]="Datos.Boleto.folio"></Label>
        </StackLayout>

        <StackLayout *ngIf="Datos.Tipo == 'Varios'" orientation="horizontal" class="component-header-3">
            <Label class="letter-spacing" text="VENDER BOLETOS"></Label>
            <StackLayout orientation="horizontal">
                <StackLayout orientation="horizontal" *ngFor="let Boleto of Datos.Boletos; let i = index">
                    <Label class="txtorange" [style]="cont == i? 'font-weight: 600' : 'font-weight:300'" [text]="Boleto.folio"></Label>
                    <!-- <Label [text]="i"></Label>
                    <Label [text]="Datos.Boletos.length"></Label> -->
                    <Label *ngIf="i < Datos.Boletos.length-1" text=","></Label>
                </StackLayout>
            </StackLayout>
        </StackLayout>

        <ScrollView>
                <StackLayout class="container" orientation="vertical">

                    <StackLayout *ngIf="!Formulario">

                        <Label class="txtorange" style="font-weight:600" text="Seleccionar comprador previo"></Label>
                        <StackLayout orientation="horizontal">
                            <TextField width="90%" class="txtCampo container-item" (textChange)="BuscarChange($event)" hint="Nombre"></TextField>
                            <ActivityIndicator [busy]="Cargando" width="30" height="30" class="activity-indicator" style="vertical-align:center;"></ActivityIndicator>
                        </StackLayout>
                        <ListView [items]="Compradores" (itemTap)="onTapList($event)" height="150">
                            <ng-template let-item="item" let-i="index" let-third="third">
                                <Label [text]='item.nombre_completo'></Label>
                            </ng-template>
                        </ListView>
                        <Button class="vb-btn" (tap)="Cancelar()" text="Cancelar"></Button>

                    </StackLayout>

                    <StackLayout *ngIf="Formulario">
                        <StackLayout class="vb-item">
                            <Button (tap)="AbrirModal()" class="vb-btn" text="SELECCIONAR COMPRADOR PREVIO"></Button>
                        </StackLayout>


                        <StackLayout class="vb-item">
                            <StackLayout orientation="horizontal">
                                <Label class="letter-spacing" text="Nombre"></Label>
                                <Label class="txtorange letter-spacing" text="*"></Label>
                            </StackLayout>
                            <!-- <TextField class="txtCampo" id="txtNombre" (textChange)="handleInputChanged($event)"></TextField> -->
                            <TextField class="txtCampo" [(ngModel)]="Info.Nombre"></TextField>
                        </StackLayout>
                
                        <StackLayout class="vb-item">
                            <StackLayout orientation="horizontal">
                                <Label class="letter-spacing" text="Apellido paterno"></Label>
                                <Label class="txtorange letter-spacing" text="*"></Label>
                            </StackLayout>
                            <!-- <TextField class="txtCampo" id="txtAppat" (textChange)="handleInputChanged($event)"></TextField> -->
                            <TextField class="txtCampo" [(ngModel)]="Info.Appat"></TextField>
                        </StackLayout>
                
                        <StackLayout class="vb-item">
                            <StackLayout orientation="horizontal">
                                <Label class="letter-spacing" text="Apellido materno"></Label>
                                <Label class="txtorange letter-spaccing" text="*"></Label>
                            </StackLayout>
                            <!-- <TextField class="txtCampo" id="txtApmat" (textChange)="handleInputChanged($event)"></TextField> -->
                            <TextField class="txtCampo" [(ngModel)]="Info.Apmat"></TextField>
                        </StackLayout>
                
                        <StackLayout class="vb-item">
                            <StackLayout orientation="horizontal">
                                <Label class="letter-spacing" text="Calle"></Label>
                                <Label class="txtorange letter-spacing" text="*"></Label>
                            </StackLayout>
                            <!-- <TextField class="txtCampo" id="txtCalle" (textChange)="handleInputChanged($event)"></TextField> -->
                            <TextField class="txtCampo" [(ngModel)]="Info.Calle"></TextField>
                        </StackLayout>
                
                        <StackLayout class="vb-item">
                            <StackLayout orientation="horizontal">
                                <Label class="letter-spacing" text="Número"></Label>
                                <Label class="txtorange" text="*"></Label>
                            </StackLayout>
                            <!-- <TextField class="txtCampo" id="txtNumero" (textChange)="handleInputChanged($event)"></TextField> -->
                            <TextField class="txtCampo" [(ngModel)]="Info.Numero"></TextField>
                        </StackLayout>
                
                        <StackLayout class="vb-item">
                            <StackLayout orientation="horizontal">
                                <Label class="letter-spacing" text="Código Postal"></Label>
                                <Label class="txtorange letter-spacing" text="*"></Label>
                            </StackLayout>
                            <!-- <TextField class="txtCampo" id="txtCodigopostal" (textChange)="handleInputChanged($event)" keyboardType="number" maxLength="5"></TextField> -->
                            <!-- <TextField class="txtCampo" [(ngModel)]="Info.Codigopostal" keyboardType="number" maxLength="5"></TextField> -->
                            <SearchBar class="txtCampo" style="color: #000;" hint="Buscar" (loaded)="sBLoaded($event)" [(ngModel)]="Info.Codigopostal" keyboardType="number" maxLength="5" (submit)="onSubmit($event)" 
                            color="#CCC" textFieldBackgroundColor="white" textFieldHintColor="#CCC" width="100%"></SearchBar>
                        </StackLayout>
                
                        <StackLayout class="vb-item">
                            <StackLayout orientation="horizontal">
                                <Label class="letter-spacing" text="Colonia"></Label>
                                <Label class="txtorange letter-spacing" text="*"></Label>
                            </StackLayout>
                            <!-- <TextField class="txtCampo" id="txtColonia" (textChange)="handleInputChanged($event)"></TextField> -->
                            <TextField class="txtCampo" [(ngModel)]="Info.Colonia"></TextField>
                        </StackLayout>
                
                        <StackLayout class="vb-item">
                            <StackLayout orientation="horizontal">
                                <Label class="letter-spacing" text="Estado"></Label>
                                <Label class="txtorange letter-spaccing" text="*"></Label>
                            </StackLayout>
                            <!-- <TextField class="txtCampo" id="txtEstado" (textChange)="handleInputChanged($event)"></TextField> -->
                            <TextField class="txtCampo" [(ngModel)]="Info.Estado"></TextField>
                        </StackLayout>
                
                        <StackLayout class="vb-item">
                            <StackLayout orientation="horizontal">
                                <Label class="letter-spacing" text="Municipio/Delegación"></Label>
                                <Label class="txtorange letter-spacing" text="*"></Label>
                            </StackLayout>
                            <!-- <TextField class="txtCampo" id="txtMunicipio" (textChange)="handleInputChanged($event)"></TextField> -->
                            <TextField class="txtCampo" [(ngModel)]="Info.Municipio"></TextField>
                        </StackLayout>
                
                        <StackLayout class="vb-item">
                            <StackLayout orientation="horizontal">
                                <Label class="letter-spacing" text="Teléfono fijo"></Label>
                                <Label class="txtorange letter-spacing" text="*"></Label>
                            </StackLayout>
                            <!-- <TextField class="txtCampo" id="txtTelefonofijo" (textChange)="handleInputChanged($event)" keyboardType="number" maxLength="10"></TextField> -->
                            <TextField class="txtCampo" [(ngModel)]="Info.Telefonofijo" keyboardType="number" maxLength="10"></TextField>
                        </StackLayout>
                
                        <StackLayout class="vb-item">
                            <StackLayout orientation="horizontal">
                                <Label class="letter-spacing" text="Teléfono móvil"></Label>
                                <Label class="txtorange letter-spacing" text="*"></Label>
                            </StackLayout>
                            <!-- <TextField class="txtCampo" id="txtTelefonomovil" (textChange)="handleInputChanged($event)" keyboardType="number" maxLength="12"></TextField> -->
                            <TextField class="txtCampo" [(ngModel)]="Info.Telefonomovil" keyboardType="number" maxLength="12"></TextField>
                        </StackLayout>
                
                        <StackLayout class="vb-item">
                            <StackLayout orientation="horizontal">
                                <Label class="letter-spacing" text="Correo electrónico"></Label>
                                <Label class="txtorange letter-spacing" text="*"></Label>
                            </StackLayout>
                            <!-- <TextField class="txtCampo" id="txtCorreoelectronico" (textChange)="handleInputChanged($event)" keyboardType="email"></TextField> -->
                            <TextField class="txtCampo" [(ngModel)]="Info.Correoelectronico" keyboardType="email"></TextField>
                        </StackLayout>
                
                        <StackLayout class="vb-item">
                            <Label class="letter-spacing" text="Correo electrónico alterativo"></Label>
                            <!-- <TextField class="txtCampo" id="txtCorreoalternativo" (textChange)="handleInputChanged($event)" keyboardType="email"></TextField> -->
                            <TextField class="txtCampo" [(ngModel)]="Info.Correoalternativo" keyboardType="email"></TextField>
                        </StackLayout>
<!-- 
                        <StackLayout>
                            <Label [text]="Info.Nombre"></Label>
                            <Label [text]="Info.Appat"></Label>
                            <Label [text]="Info.Apmat"></Label>
                            <Label [text]="Info.Calle"></Label>
                            <Label [text]="Info.Numero"></Label>
                            <Label [text]="Info.Codigopostal"></Label>
                            <Label [text]="Info.Colonia"></Label>
                            <Label [text]="Info.Estado"></Label>
                            <Label [text]="Info.Municipio"></Label>
                            <Label [text]="Info.Telefonofijo"></Label>
                            <Label [text]="Info.Telefonomovil"></Label>
                            <Label [text]="Info.Correoelectronico"></Label>
                            <Label [text]="Info.Correoalternativo"></Label>
                        </StackLayout> -->

                        <StackLayout class="vb-item center">
                            <Label class="txtorange letter-spacing" text="* Datos obligatorios"></Label>
                        </StackLayout>



                        <StackLayout *ngIf="Datos.Tipo == 'Varios'" orientation="horizontal" class="vb-item center">
                            <Button *ngIf="cont > 0" class="vb-btn" [isEnabled]="cont > 0 ? true : false" (tap)="Anterior()" text="< Anterior"></Button>
                            <Button class="vb-btn" [isEnabled]="true" (tap)="Siguiente()" [text]="cont == Datos.Boletos.length-1? 'Vender >' : 'Siguiente >'"></Button>
                        </StackLayout>
                
                        <StackLayout *ngIf="Datos.Tipo == 'Uno'" class="vb-item">
                            <Button class="vb-btn" (tap)="VenderBoleto()" text="vender boleto"></Button>
                        </StackLayout>
                
                    </StackLayout>

                    </StackLayout>
        </ScrollView>
        
    </StackLayout>
    
</RadSideDrawer>
<!--</Page>-->