<StackLayout>
        <ActionBar class="action-bar">
            <NavigationButton ios:visibility="collapsed" icon="res://menu" (tap)="onDrawerButtonTap()"></NavigationButton>
            <ActionItem icon="res://navigation/menu" android:visibility="collapsed" (tap)="onDrawerButtonTap()" ios.position="left"></ActionItem>
            <!-- <Label class="action-bar-title" text="Sorteos Anahuac"></Label> -->
            <StackLayout orientation="horizontal"
                        ios:horizontalAlignment="center"
                        android:horizontalAlignment="center">
                <Image src="res://icono_logo_encabezado" class="img"></Image>   
            </StackLayout>
        </ActionBar>

<RadSideDrawer #drawer showOverNavigation="true" [drawerTransition]="sideDrawerTransition" drawerContentSize="360">
    <StackLayout tkDrawerContent>
            <MyDrawer visibility="collapsed" [selectedPage]="'solicitatalonario'"></MyDrawer>
    </StackLayout>
    <StackLayout class="page page-content" orientation="vertical" height="13%" backgroundColor="lightgray">
        <Image src="https://sorteoanahuac.mx/app/banner_1.jpg"></Image>
    </StackLayout>
<!--<Page xmlns="http://www.nativescript.org/tns.xsd" xmlns:CheckBox="nativescript-checkbox" loaded="pageLoaded">-->
    <StackLayout orientation="vertical" tkMainContent>

        <StackLayout orientation="horizontal" class="component-header-2">
            <Label class="fa icon" text="&#xf01c;"></Label>
            <Label class="letter-spacing" text="TALONARIO"></Label>
            <Label class="txtorange letter-spacing" [text]="Datos.Talonario"></Label>
        </StackLayout>

        <StackLayout *ngIf="Datos.Tipo == 'Uno'" orientation="horizontal" class="component-header-3">
            <Label class="letter-spacing" text="VENDER BOLETO"></Label>
            <Label class="txtorange letter-spacing" [text]="Datos.Boleto.folio"></Label>
        </StackLayout>

        <StackLayout *ngIf="Datos.Tipo == 'Varios'" orientation="horizontal" class="component-header-3">
            <Label class="letter-spacing" text="VENDER BOLETOS"></Label>
            <StackLayout orientation="horizontal">
                <Label *ngFor="let Boleto of Datos.Boletos" class="txtorange letter-spacing" [text]="Boleto.folio"></Label>
            </StackLayout>
        </StackLayout>

        <ScrollView>
                <StackLayout class="container" orientation="vertical">

                        <StackLayout class="vb-item">
                            <StackLayout orientation="horizontal">
                                <Label class="letter-spacing" text="Nombre"></Label>
                                <Label class="txtorange letter-spacing" text="*"></Label>
                            </StackLayout>
                            <TextField id="txtNombre" (textChange)="handleInputChanged($event)"></TextField>
                        </StackLayout>
                
                        <StackLayout class="vb-item">
                            <StackLayout orientation="horizontal">
                                <Label class="letter-spacing" text="Apellido paterno"></Label>
                                <Label class="txtorange letter-spacing" text="*"></Label>
                            </StackLayout>
                            <TextField id="txtAppat" (textChange)="handleInputChanged($event)"></TextField>
                        </StackLayout>
                
                        <StackLayout class="vb-item">
                            <StackLayout orientation="horizontal">
                                <Label class="letter-spacing" text="Apellido materno"></Label>
                                <Label class="txtorange letter-spaccing" text="*"></Label>
                            </StackLayout>
                            <TextField id="txtApmat" (textChange)="handleInputChanged($event)"></TextField>
                        </StackLayout>
                
                        <StackLayout class="vb-item">
                            <StackLayout orientation="horizontal">
                                <Label class="letter-spacing" text="Calle"></Label>
                                <Label class="txtorange letter-spacing" text="*"></Label>
                            </StackLayout>
                            <TextField id="txtCalle" (textChange)="handleInputChanged($event)"></TextField>
                        </StackLayout>
                
                        <StackLayout class="vb-item">
                            <StackLayout orientation="horizontal">
                                <Label class="letter-spacing" text="Número"></Label>
                                <Label class="txtorange" text="*"></Label>
                            </StackLayout>
                            <TextField id="txtNumero" (textChange)="handleInputChanged($event)"></TextField>
                        </StackLayout>
                
                        <StackLayout class="vb-item">
                            <StackLayout orientation="horizontal">
                                <Label class="letter-spacing" text="Código Postal"></Label>
                                <Label class="txtorange letter-spacing" text="*"></Label>
                            </StackLayout>
                            <TextField id="txtCodigopostal" (textChange)="handleInputChanged($event)" keyboardType="number" maxLength="5"></TextField>
                        </StackLayout>
                
                        <StackLayout class="vb-item">
                            <StackLayout orientation="horizontal">
                                <Label class="letter-spacing" text="Colonia"></Label>
                                <Label class="txtorange letter-spacing" text="*"></Label>
                            </StackLayout>
                            <TextField id="txtColonia" (textChange)="handleInputChanged($event)"></TextField>
                        </StackLayout>
                
                        <StackLayout class="vb-item">
                            <StackLayout orientation="horizontal">
                                <Label class="letter-spacing" text="Estado"></Label>
                                <Label class="txtorange letter-spaccing" text="*"></Label>
                            </StackLayout>
                            <TextField id="txtEstado" (textChange)="handleInputChanged($event)"></TextField>
                        </StackLayout>
                
                        <StackLayout class="vb-item">
                            <StackLayout orientation="horizontal">
                                <Label class="letter-spacing" text="Municipio/Delegación"></Label>
                                <Label class="txtorange letter-spacing" text="*"></Label>
                            </StackLayout>
                            <TextField id="txtMunicipio" (textChange)="handleInputChanged($event)"></TextField>
                        </StackLayout>
                
                        <StackLayout class="vb-item">
                            <Label class="letter-spacing" text="Teléfono fijo"></Label>
                            <TextField id="txtTelefonofijo" (textChange)="handleInputChanged($event)" keyboardType="number" maxLength="8"></TextField>
                        </StackLayout>
                
                        <StackLayout class="vb-item">
                            <StackLayout orientation="horizontal">
                                <Label class="letter-spacing" text="Teléfono móvil"></Label>
                                <Label class="txtorange letter-spacing" text="*"></Label>
                            </StackLayout>
                            <TextField id="txtTelefonomovil" (textChange)="handleInputChanged($event)" keyboardType="number" maxLength="10"></TextField>
                        </StackLayout>
                
                        <StackLayout class="vb-item">
                            <StackLayout orientation="horizontal">
                                <Label class="letter-spacing" text="Correo electrónico"></Label>
                                <Label class="txtorange letter-spacing" text="*"></Label>
                            </StackLayout>
                            <TextField id="txtCorreoelectronico" (textChange)="handleInputChanged($event)" keyboardType="email"></TextField>
                        </StackLayout>
                
                        <StackLayout class="vb-item">
                            <Label class="letter-spacing" text="Correo electrónico alterativo"></Label>
                            <TextField id="txtCorreoalternativo" (textChange)="handleInputChanged($event)" keyboardType="email"></TextField>
                        </StackLayout>

                        <StackLayout class="vb-item center">
                            <Label class="txtorange letter-spacing" text="* Datos obligatorios"></Label>
                        </StackLayout>



                        <StackLayout *ngIf="Datos.Tipo == 'Varios'" orientation="horizontal" class="vb-item center">
                            <Button class="vb-btn" [isEnabled]="cont > 0 ? true : false" (tap)="Anterior()" text="< Anterior"></Button>
                            <Button class="vb-btn" [isEnabled]="true" (tap)="Siguiente()" text="Siguiente >"></Button>
                        </StackLayout>
                
                        <StackLayout *ngIf="Datos.Tipo == 'Uno'" class="vb-item">
                            <Button class="vb-btn" (tap)="VenderBoleto()" text="vender boleto"></Button>
                        </StackLayout>
                


                    </StackLayout>
        </ScrollView>
        
    </StackLayout>
    
</RadSideDrawer>
<!--</Page>-->
    
</StackLayout>