<ActionBar class="action-bar">
    <NavigationButton ios:visibility="collapsed" icon="res://menu" (tap)="onDrawerButtonTap()"></NavigationButton>
    <ActionItem icon="res://navigation/menu" android:visibility="collapsed" (tap)="onDrawerButtonTap()" ios.position="left"></ActionItem>
    <!-- <Label class="action-bar-title" text="Sorteos Anahuac"></Label> -->
    <StackLayout orientation="horizontal"
               ios:horizontalAlignment="center"
               android:horizontalAlignment="center">
        <Image src="res://icono_logo_encabezado" class="img"></Image>   
    </StackLayout>
</ActionBar>

<RadSideDrawer #drawer showOverNavigation="true" [drawerTransition]="sideDrawerTransition" drawerContentSize="360">
<StackLayout tkDrawerContent>
        <MyDrawer [selectedPage]="'redessociales'"></MyDrawer>
</StackLayout>     
<!-- <ScrollView orientation="vertical" sdkExampleTitle sdkToggleNavButton> -->
    <StackLayout tkMainContent>
        <StackLayout class="page page-content" orientation="vertical" height="13%" backgroundColor="lightgray">
                <Image src="https://sorteoanahuac.mx/app/banner_1.jpg"></Image> 
        </StackLayout>
        <StackLayout orientation="horizontal" class="component-header center">
            <Label class="fa" text="&#xf007;"></Label> <!--res://icono_compartir-->
            <Label text="REDES SOCIALES"></Label>
        </StackLayout>        
        <StackLayout class="container center">  
            <StackLayout height="17%"></StackLayout>
            <Button
                class="btn-orange"
                text="COMPARTE SORTEO"                
                (tap)="showModal('sorteo')"
                textwrap="true"
                width= "85%">
            </Button>
            <StackLayout height="7%"></StackLayout>
            <Button
                class="btn-orange"
                text="COMPARTE MIS BOLETOS"                
                (tap)="showModal('boleto')"
                textwrap="true"
                width= "85%">
            </Button>                                      
        </StackLayout>        
    </StackLayout>
<!-- </ScrollView>     -->

</RadSideDrawer>


<!-- <StackLayout class="container-item btn-orange" orientation="horizontal">
    <Image src="res://icono_boleto"></Image>
    <Label text="ENVIAR POR CORREO"></Label>
</StackLayout> -->