<ActionBar class="action-bar">
    <NavigationButton ios:visibility="collapsed" icon="res://menu" (tap)="onDrawerButtonTap()"></NavigationButton>
    <ActionItem icon="res://navigation/menu" android:visibility="collapsed" (tap)="onDrawerButtonTap()" ios.position="left"></ActionItem>
    <!-- <Label class="action-bar-title" text="Sorteos Anahuac"></Label> -->
    <StackLayout orientation="horizontal"
                ios:horizontalAlignment="center"
                android:horizontalAlignment="center">
        <Image src="res://icono_logo_encabezado" class="img"></Image>   
    </StackLayout>
</ActionBar>

<RadSideDrawer #drawer showOverNavigation="true" [drawerTransition]="sideDrawerTransition" drawerContentSize="360">
    <StackLayout tkDrawerContent>
        <MyDrawer [selectedPage]="'notificaciones'"></MyDrawer>
    </StackLayout>
    <StackLayout orientation="vertical" tkMainContent>

        <StackLayout class="page page-content" orientation="vertical" height="13%" backgroundColor="lightgray">
            <Image [src]="imagenPublicitaria" stretch ="fill"></Image>  
        </StackLayout>

        <StackLayout orientation="horizontal" class="component-header">
            <Label class="fa" text="&#xf0c0;"></Label>
            <Label text="MIS COMPRADORES"></Label>
        </StackLayout>

        <ScrollView height="65%">
            <StackLayout orientation="vertical" class="container">
                
                <CheckBox #makeup (checkedChange)="toggleCheck(makeup, comprador.Clave, comprador.Comprador.correo)" *ngFor="let comprador of Compradores" checked="false" class="container-item" [text]="comprador.Comprador.nombre_completo"></CheckBox>
    
            </StackLayout>
        </ScrollView>

            <StackLayout *ngIf="Claves.length > 0" (tap)="Compartir()" class="btn-orange container-item" orientation="horizontal">
                <Image src="res://icono_compartir"></Image>
                <Label text=" "></Label>
                <Label text="COMPARTIR" style="vertical-align: center;"></Label>
            </StackLayout>

        <!-- <StackLayout>
            <StackLayout class="container" orientation="horizontal">
                <CheckBox checked="false"></CheckBox>
                <Label text="José Hernandez"></Label>
            </StackLayout>
        </StackLayout>

        <StackLayout>
            <StackLayout class="container" orientation="horizontal">
                <CheckBox checked="false"></CheckBox>
                <Label text="Sorteo Anahuac"></Label>
            </StackLayout>
        </StackLayout>

        <StackLayout>
            <StackLayout class="container" orientation="horizontal">
                <CheckBox checked="true"></CheckBox>
                <Label text="Ana González"></Label>
            </StackLayout>
        </StackLayout> -->
        
    </StackLayout>
</RadSideDrawer>