<ActionBar class="action-bar">
    <NavigationButton ios:visibility="collapsed" icon="res://menu" (tap)="onDrawerButtonTap()"></NavigationButton>
    <ActionItem icon="res://navigation/menu" android:visibility="collapsed" (tap)="onDrawerButtonTap()" ios.position="left">
    </ActionItem>
    <Label class="action-bar-title" text="Sorteos Anahuac"></Label>
</ActionBar>

<Page xmlns="http://www.nativescript.org/tns.xsd" loaded="pageLoaded">

    <StackLayout orientation="vertical">

        <StackLayout orientation="horizontal" class="component-header">
            <Label class="fa" text="&#xf007;"></Label>
            <Label text="CONOCE TU SORTEO"></Label>
        </StackLayout>

        <ScrollView>
            <StackLayout>
                <WebView class="cs-iframe" src="https://docs.nativescript.org/"></WebView>
                <WebView class="cs-iframe" src="https://www.npmjs.com/"></WebView>
            </StackLayout>
        </ScrollView>

    </StackLayout>

</Page>