<ActionBar class="action-bar">
    <NavigationButton ios:visibility="collapsed" icon="res://menu" (tap)="onDrawerButtonTap()"></NavigationButton>
    <ActionItem icon="res://navigation/menu" android:visibility="collapsed" (tap)="onDrawerButtonTap()" ios.position="left"></ActionItem>
    <!-- <Label class="action-bar-title" text="Sorteos Anahuac"></Label> -->
    <StackLayout orientation="horizontal"
                ios:horizontalAlignment="center"
                android:horizontalAlignment="center">
        <Image src="res://icono_logo_encabezado" class="img"></Image>   
    </StackLayout>
</ActionBar>

    <RadSideDrawer #drawer showOverNavigation="true" [drawerTransition]="sideDrawerTransition" drawerContentSize="360">
        <StackLayout tkDrawerContent>
                <MyDrawer [selectedPage]="'Conoce_sorteo'"></MyDrawer>
        </StackLayout>
        <StackLayout orientation="vertical" tkMainContent>
            <StackLayout class="page page-content" orientation="vertical" height="13%" backgroundColor="lightgray">
                    <Image src="https://sorteoanahuac.mx/app/banner_1.jpg"></Image>  
            </StackLayout>
            <StackLayout orientation="horizontal" class="component-header">
                <Label class="fa" text="&#xf007;"></Label>
                <Label text="CONOCE TU SORTEO"></Label>
            </StackLayout>

            <ScrollView>
                <StackLayout>
                    <WebView class="cs-iframe" src="https://docs.nativescript.org/"></WebView>
                    <WebView class="cs-iframe" src="https://www.npmjs.com/"></WebView>
                </StackLayout>
            </ScrollView>

        </StackLayout>
    </RadSideDrawer>