<!-- <ActionBar class="action-bar">
    <Label class="action-bar-title" text="Login"></Label>
</ActionBar>    -->
<!--
Use the tkMainContent directive to display the content of the page when you have an app drawer.
-->
<StackLayout class="page page-content" orientation="vertical">
    <StackLayout class="page page-content" orientation="vertical" height="15%" backgroundColor="lightgray">

    </StackLayout>
    <StackLayout class="page page-content" orientation="vertical" height="85%">
        <Image class="LogoLogin" src="res://ahc_logo_login" height="27%"></Image>
    </StackLayout>
</StackLayout>