<ActionBar class="action-bar">
        <NavigationButton ios:visibility="collapsed" icon="res://menu" (tap)="onDrawerButtonTap()"></NavigationButton>
        <ActionItem icon="res://navigation/menu" android:visibility="collapsed" (tap)="onDrawerButtonTap()" ios.position="left"></ActionItem>
        <!-- <Label class="action-bar-title" text="Sorteos Anahuac"></Label> -->
        <StackLayout orientation="horizontal"
                   ios:horizontalAlignment="center"
                   android:horizontalAlignment="center">
            <Image src="res://icono_logo_encabezado" class="img"></Image>   
        </StackLayout>
    </ActionBar>

<RadSideDrawer #drawer showOverNavigation="true" [drawerTransition]="sideDrawerTransition" drawerContentSize="360">
    <StackLayout tkDrawerContent>
        <MyDrawer [selectedPage]="'Estado_Cuenta'"></MyDrawer>
    </StackLayout>
    <StackLayout tkMainContent>
        <StackLayout class="page page-content" orientation="vertical" height="13%" backgroundColor="lightgray">
            <Image [src]="imagenPublicitaria" stretch ="fill"></Image>
        </StackLayout>
        <StackLayout orientation="horizontal" class="component-header center">
            <Image src="res://icono_perfil" style="width: 5%;height: auto"></Image>
            <Label text="ESTADO DE CUENTA" style="vertical-align: center"></Label>
        </StackLayout>
        <ScrollView orientation="vertical">
            <StackLayout class="container " orientation="vertical">

                <Label class="txtlarge txtorange" [text]="infoColaborador.nombre"></Label>
                <Label class="txtlarge txtorange" style="margin-bottom:20px;" [text]="infoColaborador.apellido_paterno"></Label>

                <StackLayout style="margin-bottom:50px;" orientation="horizontal">
                    <Label class="txtmedium txtgray" text="Boletos asignados: "></Label>  
                    <Label class="txtmedium txtgray" [text]="infoColaborador.talonarios[0].Boletos.asignados.length"></Label>
                </StackLayout>

                <Image style="margin-bottom:50px;" src="res://separador"></Image>

                <GridLayout columns="*, *" rows="*, *, 100%">
                    <Label class="txtmedium txtgray" col="0" row="0" text="Total a pagar: "></Label>
                    <Label class="txtmedium txtgray" col="1" row="0" [text]="infoColaborador.monto_total"></Label>
                    <Label class="txtmedium txtgray" col="0" row="1" text="Pagado: "></Label>
                    <Label class="txtmedium txtgray" col="1" row="1" [text]="infoColaborador.monto_abonado"></Label>
                    <Label class="txtmedium txtgray" col="0" row="2" text="Saldo pendiente: "></Label>
                    <Label class="txtmedium txtgray" col="1" row="2" [text]="infoColaborador.monto_deudor"></Label>
                </GridLayout>

                <StackLayout class="container-item btn-orange" orientation="horizontal">
                    <Image src="res://icono_pagar" style="width: 8%;height: auto;"></Image>
                    <Label text=" "></Label>
                    <Label text="PAGAR" style="vertical-align: center;letter-spacing: 0.1%"></Label>
                </StackLayout>
                <!-- <StackLayout class="container-item btn-orange" orientation="horizontal">
                        <Image src="res://icono_dolar"></Image>
                        <Label text="PAGAR" style="vertical-align: center"></Label>
                    </StackLayout> -->

            </StackLayout>    
        </ScrollView>
    </StackLayout>
</RadSideDrawer>